.news-card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: white;
  border: 1px solid var(--lowish);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.25);
  padding: 0rem;
  width: 18rem;
  margin-bottom: 1rem;
  height: fit-content;
  gap: 0.5rem;
  font-family: var(--font-family);
  overflow: hidden;
}

.news-card-image {
  height: 12rem;
  margin-bottom: 0.5rem;
}

.news-card-image img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: contain;
}

.news-card-body {
  padding: 0rem 1rem 1rem 1rem;
  overflow-y: auto;
  word-wrap: break-word;
  text-wrap: wrap;
}

.news-card-title {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  height: 5rem;
}
.news-card-text {
  height: 6rem;
}

.read-more {
  height: 5rem;
  font-size: 0.9rem;
}
.news-card-text {
  font-size: 1rem;
}
.text-muted {
  font-size: 0.85rem;
  padding: 0.2rem;
}
.news-card-text a {
  color: blue;
  margin-left: 0.1rem;
}

.news-card-text a:hover {
  color: green;
}

@media screen and (max-width: 2560px) and (min-width: 1550px) {
  .news-card {
    width: 32.5rem;
  }
  .news-card-image {
    height: 20rem;
  }
  .news-card-image img {
    height: 20rem;
  }
  .news-card-body {
    padding: 0rem 2rem 2rem 2rem;
    overflow-y: auto;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    height: 12rem;
  }
  .read-more {
    height: 5rem;
  }
  .news-card-title {
    font-size: 2.4rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    height: 10rem;
    overflow-y: hidden;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .read-more {
    font-size: 1.75rem;
    margin-bottom: 1rem;
  }
  .text-muted {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .news-card {
    width: 25.5rem;
  }
  .news-card-image {
    height: 15rem;
  }
  .news-card-image img {
    height: 15rem;
  }
  .news-card-body {
    padding: 0rem 2rem 2rem 2rem;
    overflow-y: auto;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    height: 7rem;
  }
  .read-more {
    height: 5rem;
  }
  .news-card-title {
    font-size: 1.5rem;
    margin-bottom: 0;
    margin-top: 2rem;
    height: 5rem;
    overflow-y: hidden;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .read-more {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  .text-muted {
    font-size: 1rem;
  }
}

@media screen and (max-width: 550px) {
  .news-card {
    width: 19rem;
  }
  .news-card-image {
    height: 12.5rem;
  }
  .news-card-image img {
    height: 15rem;
  }
  .news-card-body {
    padding: 0rem 1rem 2rem 1rem;
    overflow-y: auto;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    height: 5rem;
  }
  .read-more {
    height: 5rem;
  }
  .news-card-title {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    height: 6rem;
    overflow-y: hidden;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .read-more {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .text-muted {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 350px) {
  .news-card {
    width: 14rem;
  }
  .news-card-image {
    height: 9rem;
  }
  .news-card-image img {
    height: 9rem;
  }
  .news-card-body {
    padding: 0rem 1rem 2rem 1rem;
    overflow-y: auto;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .read-more {
    height: 5rem;
  }
  .news-card-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    height: 4rem;
    overflow-y: hidden;
    text-wrap: wrap;
    word-wrap: break-word;
  }
  .news-card-text {
    font-size: 0.85rem;
    margin-bottom: 1rem;
    height: 4rem;
  }
  .read-more {
    font-size: 0.85rem;
    margin-bottom: 1rem;
  }
  .text-muted {
    font-size: 0.75rem;
  }
}
