.warning
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;;
    gap: 1rem;
    font-size: calc(0.875rem + (1.125 - 0.875) * (100vw - 320px) / (1920 - 320));
}

